geometry
setspace
etoolbox
xparse
babel
mathtools
iftex
fontspec
microtype
amsmath
amsthm
dsfont
xcolor
hyperref
caption
subcaption
graphicx
array
adjustbox
booktabs
tabularx
biblatex
enumitem
latexmk
